<!DOCTYPE html>
<html lang="fa" dir="rtl">
    <head>
        <meta charset="UTF-8">
        <title>کلاس ساز</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">

        <link rel="stylesheet" href="{{url_for('static', filename='css/footable.bootstrap.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/footable.paging.css')}}">

        <link rel="stylesheet" href="{{url_for('static', filename='css/font-awesome.min.css')}}">

        <link rel="stylesheet" href="{{url_for('static', filename='css/footable.core.standalone.css')}}">

        <link rel="stylesheet" href="http://t00rk.github.io/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css">

    </head>
    <script src="{{url_for('static', filename='js/jquery-3.4.1.js')}}"></script>


    <body>
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <img src="{{url_for('static', filename='img/icon.png')}}" width="50" height="50" alt="">
            کلاس ساز
        </a>
    </nav>

    <br>
    <div class="container" style="text-align:right;">
        <div class="columns shadow-lg p-3 mb-5 bg-white rounded">
            <form method="post" action="{{ url_for('add') }}">

                <div class="form-group">
                    <label for="lesson_name">نام درس</label>
                    <input type="text" name="lesson_name" class="form-control" id="lesson_name" placeholder="نام درس">
                </div>


                <div class="form-group">
                    <label for="lesson_code">کد درس</label>
                    <input type="text" name="lesson_code" class="form-control" id="lesson_code"  placeholder="کد درس" required>
                </div>

                <div class="form-group">
                    <label for="day">روز</label>
                    <select class="form-control" id="day" name="day" required>
                        <option value="شنبه">شنبه</option>
                        <option value="یکشنبه">یکشنبه</option>
                        <option value="دوشنبه">دوشنبه</option>
                        <option value="سه شنبه">سه شنبه</option>
                        <option value="چهارشنبه">چهارشنبه</option>
                    </select>
                </div>


                <div class="form-group">
                    <label for="start_time">زمان شروع کلاس</label>
                    <input type="time" name="start_time" class="form-control" id="start_time" required>

                    <label for="end_time">زمان پایان کلاس</label>
                    <input type="time" name="end_time" class="form-control" id="end_time" required>
                </div>

                <button type="submit" class="btn btn-outline-secondary">افزودن</button>
            </form>

        </div>

        <center>
            <button id="check" class="btn btn-primary" onclick="check()">پردازش</button>
        </center>

        <hr>



    </div>


    <div class="col-md-12">
        <table id="classes_table" class="table" data-paging="true"></table>
    </div>



    </body>
    <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/footable.js')}}"></script>
    <script src="{{url_for('static', filename='js/footable.paging.js')}}"></script>

    <script>
        jQuery(function($){
            $('.table').footable({
                "columns": $.get('columns'),
                "rows": $.get('rows')
            });
        });
    </script>


    <script>
        function allTableRows(){
            var allrows = []
            $.each($(".table tbody").find("tr"), function () {
                var rr = Number($(this).find("td").html()[0] + $(this).find("td").html()[1])
                allrows.push(rr)
                <!--$(this).css('background-color','red')-->
            });

            return allrows;
        }

        function changeTableRowColor(row1,row2,color){

            $.each($(".table tbody").find("tr"), function () {


<!--                var rr = Number($(this).find("td").html()[0] + $(this).find("td").html()[1])-->

                var rr = Number($(this).find("td").html())


                if (rr == row1 || rr == row2){
                    $(this).css('background-color',color)
                }
            });
        }


        function check(){


            jQuery.ajax({

                type:"get",
                url: "{{url_for('check')}}",
                success: function(data) {


                    var ft = FooTable.get("#classes_table"),
                        rows = ft.rows.all,
                        total = 0;




                    for (var i in data){
                        let x = data[i]


                        for (var j in x){

                            changeTableRowColor(x[j][0],x[j][1],x[j][2])

                        }

                    }



                },
                error: function(data) {
                    console.log(data)
                },
            });
        }
    </script>
</html>